<a class="btn btn-primary " href="/api/usuario/login">
    Login
</a>
<div class="dropdown-divider"></div>
<a class="btn btn-primary" href="/logout">
    Logout
</a>
<div class="dropdown-divider"></div>
<a class="btn btn-primary" href="/auth/github">
    Loguearse con Github
</a>